---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import classNames from "classnames";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import { excerpt } from "../logic/excerpt";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);

const cn = classNames(
  "max-w-none",
  "prose",
  "prose-lg",
  "dark:prose-invert",

  "prose-code:before:content-none",
  "prose-code:after:content-none",

  "prose-li:my-0",
  "prose-ul:my-0",
  "prose-p:my-4",
  "prose-h1:my-4",
  "prose-h2:my-4",
  "prose-h3:my-4",
  "prose-h4:my-4",
  "prose-h5:my-4",
  "prose-h6:my-4",
  "prose-pre:my-4",

  "prose-h1:text-3xl",
  "prose-h2:text-2xl",
  "prose-h3:text-xl",
  "prose-h4:text-lg",
  "prose-h5:text-lg",
  "prose-h6:text-lg",

  "prose-h1:font-normal",
  "prose-h2:font-normal",
  "prose-h3:font-normal",
  "prose-h4:font-normal",
  "prose-h5:font-normal",
  "prose-h6:font-normal"
);
---

<Layout
  title={post.data.title}
  desc={excerpt(post.rendered?.html ?? "No preview available.")}>
  <article>
    <div class="text-center my-12">
      <h1 class="text-3xl">{post.data.title}</h1>
      <p class="mb-4">{dayjs(post.data.date).format("dddd, MMMM D, YYYY")}</p>
    </div>
    <div class={cn}>
      <Content />
    </div>

    <p class="italic mt-12 mb-4 text-center">
      I'd love to hear what you think about this post.
      <a href="mailto:matt@mplewis.com" class="underline">Email me</a> or
      <a href="https://bsky.app/profile/mplewis.com" class="underline"
        >@ me on Bluesky</a
      >!
    </p>
  </article>
</Layout>
