---
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import classNames from "classnames";
import { getCollection } from "astro:content";
import type { Post } from "../content.config";
import dayjs from "dayjs";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;
const { post } = Astro.props;
const { html } = post.rendered ?? {};
if (!html) throw new Error(`No rendered HTML for ${post.data.slug}`);

const cn = classNames(
  "max-w-none",
  "prose",
  "prose-lg",

  "prose-li:my-0",
  "prose-ul:my-0",
  "prose-p:my-4",
  "prose-h1:my-4",
  "prose-h2:my-4",
  "prose-h3:my-4",
  "prose-h4:my-4",
  "prose-h5:my-4",
  "prose-h6:my-4",
  "prose-pre:my-4",

  "prose-h1:text-3xl",
  "prose-h2:text-2xl",
  "prose-h3:text-xl",
  "prose-h4:text-lg",
  "prose-h5:text-lg",
  "prose-h6:text-lg"
);
---

<Layout>
  <article>
    <h1 class="text-3xl">{post.data.title}</h1>
    <p class="mb-4">{dayjs(post.data.date).format("dddd, MMMM D, YYYY")}</p>
    <div class={cn}>
      <Fragment set:html={html} />
    </div>
  </article>
</Layout>
