---
import Layout from "../layouts/Layout.astro";
import dayjs from "dayjs";
import classNames from "classnames";
import { getCollection } from "astro:content";
import type { Post } from "../content.config";

const posts = (await getCollection("posts")) as Post[];

const p = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const thisYear = new Date().getFullYear();
function formatDate(date: Date) {
  if (date.getFullYear() === thisYear) return dayjs(date).format("MMM D");
  return dayjs(date).format("YYYY-MM-DD");
}

const lastPostOfYearIndices = p.reduce((acc, post, i) => {
  if (i === 0) return acc;
  const prevPost = p[i - 1];
  if (dayjs(post.data.date).year() !== dayjs(prevPost.data.date).year()) {
    return [...acc, i - 1];
  }
  return acc;
}, [] as number[]);
---

<Layout>
  <section class="my-4">
    <ul>
      {
        p.map((post, i) => (
          <li
            class={classNames("flex", "justify-between", "gap-4", "my-1", {
              "mb-4": lastPostOfYearIndices.includes(i),
            })}>
            <h1>
              <a href={post.data.slug}>{post.data.title}</a>
            </h1>
            <p>{formatDate(post.data.date)}</p>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
