---
import Layout from "../layouts/Layout.astro";
import dayjs from "dayjs";
import classNames from "classnames";
import { getCollection } from "astro:content";
import type { Post } from "../content.config";

const posts = (await getCollection("posts")) as Post[];

const p = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const thisYear = new Date().getFullYear();
function formatDate(date: Date) {
  if (date.getFullYear() === thisYear) return dayjs(date).format("MMM D");
  return dayjs(date).format("YYYY-MM-DD");
}

const { first, last } = p.reduce(
  (acc, post, i) => {
    if (i === 0) return { first: [i], last: [] };
    const prevPost = p[i - 1];
    if (dayjs(post.data.date).year() !== dayjs(prevPost.data.date).year()) {
      return {
        first: [...acc.first, i],
        last: [...acc.last, i - 1],
      };
    }
    return acc;
  },
  { first: [], last: [] } as { first: number[]; last: number[] }
);
---

<Layout>
  <section class="mb-8">
    <ul>
      {
        p.map((post, i) => (
          <li>
            {first.includes(i) && (
              <p
                class={classNames("pt-3", {
                  "border-t-2": i !== 0,
                  "border-t-zinc-700": i !== 0,
                })}>
                {dayjs(post.data.date).year()}
              </p>
            )}
            <div
              class={classNames("flex", "justify-between", "gap-4", "my-1", {
                "mb-3": last.includes(i),
              })}>
              <h1>
                <a href={post.data.slug}>{post.data.title}</a>
              </h1>
              <p class="shrink-0">{dayjs(post.data.date).format("MMM D")}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
