<footer class="mt-4 flex justify-center gap-6 underline">
  <a href="https://mplewis.com">mplewis.com</a>
  <a href="mailto:matt@mplewis.com">Contact me</a>
  <a href="https://github.com/mplewis/kesdev-blog">View on GitHub</a>
</footer>
