<footer
  class="flex flex-col md:flex-row justify-center gap-2 md:gap-6 underline text-center pt-8 pb-12 md:pt-4 md:pb-12 opacity-70 md:opacity-50 md:hover:opacity-100 md:transition-opacity">
  <a href="https://mplewis.com">mplewis.com</a>
  <a href="mailto:matt@mplewis.com">Email</a>
  <a href="https://bsky.app/profile/mplewis.com" class="underline">Bluesky</a>
  <a href="https://github.com/mplewis/kesdev-blog">GitHub</a>
  <a href="/rss.xml">RSS</a>
</footer>
